*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


/* HEADER */

/* nav left */
.head-nav-left{
    width: 125px;
    height: 100%;
    background-color: #10273d;
    position: fixed;
    top: 65px;
    left: 0;
    padding: 30px 15px;
}

.head-nav-left a{
    text-decoration: none;
    color: white;
}
.head-nav-left i{
    width: 10px;
    margin-right: 15px;
}
.head-left-sec1{
    margin-bottom: 520px;
}
.head-left-sec1 div{
    margin-bottom: 20px;
}


/* nav top */
.head-nav-top{
    width: 100%;
    height: 65px;
    background-color: #f8f9fa;
    position: fixed;
    top: 0;
    padding: 10px 0;
}

.container-head-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
}


.head-nav-top img{
    margin-left: 16px;
}
.head-top-sec3{
    margin-right: 16px;
}


.head-top-sec2 .search{
    padding: 12px 520px;
    text-align: left;
    border: 0;
    border-radius: 4%;
    background-color:#e5e5e5;
}

.head-top-sec3 a{
    text-decoration: none;
    color: #5b5858;
    margin: 0 10px;
}
.fa-bell{
    color: #ff8f00;
}


/* MAIN */
main{
    margin-top: 65px;
    margin-left: 125px;
    background-color: #f8f9fa;
}
.main-sec1{
    background-color: #1b72e8;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.main-sec1-boolean{
    margin-bottom: 10px;
}
.main-sec1-boolean h3{
    display: inline-block;
    margin-right: 10px;
}
.button-blue{
    border: 0;
    border-radius: 20%;
    padding: 3px 5px;
    margin-right: 10px;
    background-color:#165bba;
    color: white;
}


.main-sec1-students{
    margin-right: 125px;
}
.students{
    margin-bottom: 10px;
    font-size: 10px;
}
.num{
    font-size: 25px;
}

.main-sec2{
    padding: 20px 10px;
    display: flex;
}

.main-tab{
    border: 1px solid #dadfe3;
    border-radius: 2%;
    margin-bottom: 20px;
    background-color: white;
}
.main-container1{
    margin-right: 20px;
}

.main-tab .tab-title{
    border-bottom: 1px solid #dadfe3;
    border-radius: 3%;
    padding: 10px 15px;
    background-color: #f7f7f7;
}

.main-tab #tab-classi-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.flex-row{
    display: flex;
    border-bottom:  1px solid #dadfe3;
    padding: 10px;
    margin: 0 10px;
}
.tab-name{
    width: 70px;
    margin-right: 300px;
}

.tab-right{
    width: 80px;
    margin-left: 40px;
    text-align: center;
}
#tab-row-bottom{
    margin-bottom: 22px;
}

/* faq */
.tab-faq select{
    border: 0;
}

#question1{
    margin-top: 12px;
}
#question3{
    border-bottom: 0;
    margin-bottom: 12px;
}
.tab-faq .question{
    border-bottom: 1px solid #dadfe3;
    padding: 16px 15px;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
}

.container-checkbox{
    border: 1px solid #dadfe3;
    border-radius: 3%;
    margin: 10px;
}
.container-checkbox div{
    border-bottom: 1px solid #dadfe3;
    width: 420px;
    padding: 10px;
}
#checkbox-bottom{
    border: 0;
}

.container-tab-graphic{
    border: 1px solid #dadfe3;
    border-radius: 3%;
    margin: 10px;
}

.container-tab-graphic img{
    border-radius: 3%;
    width: 99%;
}
.container-tab-graphic div{
    border-bottom: 1px solid #dadfe3;
    padding: 10px;
}