*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


/* HEADER */

/* nav left */
.head-nav-left{
    width: 125px;
    height: 100%;
    background-color: blue;
    position: fixed;
    top: 65px;
    left: 0;
    padding: 30px 15px;
}

.head-nav-left a{
    text-decoration: none;
    color: white;
}

.head-left-sec1{
    margin-bottom: 550px;
}


/* nav top */
.head-nav-top{
    width: 100%;
    height: 65px;
    background-color: white;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.head-top-sec1{

}

.head-top-sec2 .search{
    padding: 8px 400px;
    text-align: left;
    border: 0;
    border-radius: 4%;
    background-color: lightgray;
}

.head-top-sec3{

}



/* MAIN */
main{
    margin-top: 65px;
    margin-left: 125px;
}
.main-sec1{
    background-color: skyblue;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

.main-sec2{
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

.main-tab{
    border: 1px solid lightgray;
    border-radius: 3%;
    margin-bottom: 20px;
}


.main-sec2 h2{
    border-bottom: 1px solid lightgray;
    padding: 10px;
    background-color: gray;
}

.flex-row{
    display: flex;
    border-bottom:  1px solid lightgray;
    padding: 10px 0;
    margin: 0 10px;
}

.tab-faq select{
    border: 0;
    padding: 10px 0;
    margin: 10px;
}

.tab-faq div{
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    margin: 0 10px;
}


.container-box{
    border: 1px solid lightgray;
    margin: 10px;
}
.container-box div{
    border-bottom: 1px solid lightgray;
    padding: 10px;
}


.container-tab-graphic{
    border: 1px solid lightgray;
    margin: 10px;
}

.container-tab-graphic div{
    border-bottom: 1px solid lightgray;
    padding: 10px;
}